# Yelp Data Analysis - Relationship between Density and Quality

In [36]:
import csv
import pandas as pd
import numpy as np
import pandas as pd
import seaborn as sns
import operator #need this for sorting dicts later
import matplotlib.cm as cm #for colormapping later
from matplotlib.colors import LogNorm
import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline

In [37]:
## import the yelp business dataset as a csv
business_df = pd.read_csv('business.csv')

In [38]:
business_df.head()

,attributes.Ambience.divey,attributes.RestaurantsDelivery,attributes.DogsAllowed,postal_code,hours.Thursday,attributes.HairSpecializesIn.coloring,attributes.BestNights.sunday,attributes.BYOB,attributes.AgesAllowed,attributes.Music.video,...,attributes.Caters,attributes.RestaurantsReservations,attributes.DietaryRestrictions.dairy-free,attributes.DietaryRestrictions.vegan,attributes.Ambience.romantic,attributes.Music.jukebox,attributes.Ambience.upscale,attributes.RestaurantsTakeOut,attributes.BikeParking,attributes.OutdoorSeating
0,NaN,NaN,NaN,44143,10:00-21:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN
1,False,True,NaN,28215,10:00-22:00,NaN,NaN,NaN,NaN,NaN,...,NaN,False,NaN,NaN,False,NaN,False,True,NaN,False
2,NaN,NaN,NaN,M4K 1N7,10:00-19:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,False
3,NaN,NaN,NaN,85258,9:00-17:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,False,False,NaN,85016,NaN,NaN,NaN,NaN,NaN,NaN,...,True,False,NaN,NaN,False,NaN,False,True,True,False

## Cleaning the Dataset

We are going to remove the unecessary columns from this dataset:

In [39]:
business_df = business_df[['name','postal_code','latitude','longitude','city','neighborhood','categories','stars','review_count']]

In [40]:
business_df.head()

,name,postal_code,latitude,longitude,city,neighborhood,categories,stars,review_count
0,Richmond Town Square,44143,41.541716,-81.493116,Richmond Heights,NaN,"[u'Shopping', u'Shopping Centers']",2.0,17
1,South Florida Style Chicken & Ribs,28215,35.236870,-80.741976,Charlotte,Eastland,"[u'Food', u'Soul Food', u'Convenience Stores',...",4.5,4
2,The Tea Emporium,M4K 1N7,43.677126,-79.353285,Toronto,Riverdale,"[u'Food', u'Coffee & Tea']",4.5,7
3,TRUmatch,85258,33.565082,-111.916400,Scottsdale,NaN,"[u'Professional Services', u'Matchmakers']",3.0,3
4,Blimpie,85016,33.505928,-112.038847,Phoenix,NaN,"[u'Sandwiches', u'Restaurants']",4.5,10

In [41]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 156639 entries, 0 to 156638
Data columns (total 9 columns):
name            156639 non-null object
postal_code     156086 non-null object
latitude        156638 non-null float64
longitude       156638 non-null float64
city            156636 non-null object
neighborhood    62236 non-null object
categories      156639 non-null object
stars           156639 non-null float64
review_count    156639 non-null int64
dtypes: float64(3), int64(1), object(5)
memory usage: 10.8+ MB

We can focus on examining businesses only in Toronto

In [42]:
toronto_restaurants_df = business_df[business_df['city'] == 'Toronto']
toronto_restaurants_df.reset_index(level=None, drop=False, inplace=False, col_level=0, col_fill='')
toronto_restaurants_df.head(10)

,name,postal_code,latitude,longitude,city,neighborhood,categories,stars,review_count
2,The Tea Emporium,M4K 1N7,43.677126,-79.353285,Toronto,Riverdale,"[u'Food', u'Coffee & Tea']",4.5,7
26,Hart House Theatre,M5S 3H3,43.663669,-79.394687,Toronto,University of Toronto,"[u'Arts & Entertainment', u'Performing Arts']",4.0,8
38,McCarthy's Irish Pub,M4L 2B5,43.678049,-79.314774,Toronto,Upper Beach,"[u'Pubs', u'Restaurants', u'Bars', u'Irish', u...",4.0,5
44,Paris Bakery & Pastry,M6H 3Z5,43.662401,-79.444706,Toronto,Wallace Emerson,"[u'Bakeries', u'Food']",3.0,16
53,Oishi Sushi,M3J 2G5,43.763510,-79.490750,Toronto,NaN,"[u'Asian Fusion', u'Restaurants', u'Sushi Bars']",2.0,27
55,Boardwalk Place,M4W 3L6,43.663010,-79.310898,Toronto,NaN,"[u'American (Traditional)', u'Restaurants', u'...",3.0,13
62,Adelaide Hall,M5H 1X6,43.648172,-79.389077,Toronto,Entertainment District,"[u'Nightlife', u'Music Venues', u'DJs', u'Arts...",3.5,10
63,Sangria Lounge,M6R 2K9,43.643537,-79.447954,Toronto,High Park,"[u'Nightlife', u'Lounges', u'Beer', u'Wine & S...",3.5,23
134,Buonanotte,M5V 1H2,43.645687,-79.390493,Toronto,Entertainment District,"[u'Italian', u'Restaurants']",2.0,66
154,Big Daddy's Bourbon Street Bistro & Oyster Bar,M5H 1K5,43.647499,-79.386471,Toronto,Entertainment District,"[u'Cajun/Creole', u'Restaurants', u'Seafood']",3.5,132

In [ ]:
not_restaurant = pd.DataFrame()
for lst in toronto_restaurants_df['categories']:
    if "u'Restaurants'" not in lst:
        not_restaurant = not_restaurant.append(toronto_restaurants_df[toronto_restaurants_df['categories'] == lst])

In [ ]:
#df = df.append

In [222]:
not_restaurant.head()

Empty DataFrame
Columns: []
Index: []

In [142]:
toronto_restaurants_df[toronto_restaurants_df.categories == [u'Food', u'Coffee & Tea']]

ValueError: Arrays were different lengths: 15483 vs 2

In [ ]:
]

8285

In [74]:
toronto_restaurants_df.loc[toronto_restaurants_df['categories']== "Restaurants"]

Empty DataFrame
Columns: [name, postal_code, latitude, longitude, city, neighborhood, categories, stars, review_count]
Index: []

In [70]:
not_restaurant

Series([], Name: categories, dtype: object)

In [54]:
not_restaurants = pd.DataFrame()
#print("1:", not_restaurants)
data = toronto_restaurants_df
#print("2:", data)

for row in data:
    print("3:")
    if "u'Restaurants" not in row:
        not_restaurants.append(row)

3:

TypeError: cannot concatenate a non-NDFrame object

In [45]:

convert the categories from list of ojects tolist of strings
create a list with restaurant and not restaurant types

SyntaxError: invalid syntax (<ipython-input-45-ed6ce1999554>, line 2)